/*
 CSS Stylesheet for Latitude Web Visualization
 */

/* Styling for HTML elements */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul ul {
  position: absolute;
  display: hidden;
}

li {
  display: inline;
  position: relative;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover ul {
  display: block;
}

li a:hover {
  background-color: #111;
}

/* Classes */
.list-item-left {
  float: left;
}

.list-item-right {
  float: right;
}

.box {
  min-height: 50px;
  padding: 25px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.active {
  background: seagreen;
}

.bg-gray {
  background: lightgray;
}

.bg-white {
  background: white;
}

.bg-cyan {
  background: cyan;
}

.fg-green {
  color: green;
}

.fg-black {
  color: black;
}

img-left {
  float: left;
}

img.resize-50 {
  max-width:50%;
  max-height:50%;
}

img.resize-150 {
  max-width:150%;
  max-height:150%;
}

.font-paragraph-text {
  font-size: 8pt;
}

.detail-text {
  font-weight: normal;
}

.green-border {
  border:1px solid seagreen;
}